<form action="/categories" method="post">
  <label for="new_category">Add a new category</label>
  <div class="form-group">
    <input id='name' name="name" placeholder="Name">
  </div>
  <button type="submit" class="btn btn-info">Add</button>
</form>
